@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../../public/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html,
body {
  min-height: 100%;
  font-family: "Poppins";
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="text"] {
  text-transform: uppercase;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
